* {
    background-color: deepskyblue;
    background-size: 1600px;
}

textarea {
    border-color: blanchedalmond;
    border-style: groove;
    color: crimson;
    width: 8cm;
}

select {
    font-style: italic;
    font-weight: 300;
    font-stretch: extra-condensed;
    height: 8cm;
    color: hotpink;
    background-color: lavender;
}